spring-tag/src/main/resources/META-INF/user-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
        targetNamespace="http://www.example.org/schema/user">

    <element name="user">
        <complexType>
            <attribute name="id" type="string" use="required"/>
            <attribute name="name" type="string"/>
            <attribute name="description" type="string"/>
        </complexType>
    </element>
</schema>